*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div1{grid-area: a;
     height: 100px;
     width: 100%;
     background-color: black;
     color: azure;
     padding-left:100px;
     padding-top: 40px;  
}
.div2{grid-area: b;
  background-color: black;
  
  
}
.div2>ul>li,a{
  float:right;
  text-decoration: none; 
  color: aqua;
  list-style: none;
  text-align: justify;
  padding-top: 20px;
  padding-right: 15px;
}
.div3{grid-area: c;
  background-color: black; 
  height: 500px;
  
}
#img{
 width: 500px;
 height: 600px;
 margin-left: 150px;
 margin-top: -80px;
}
.intro{
  color: rgb(229, 235, 235);
  z-index: 3;
  font-size:50px;
}
.div4{grid-area: d;
   background-color: black;
   display: flex;
}
.icon{
  height: 50px;
  width: 50px;
}
.div4>ul>li{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  
}
.div4>ul{
  margin-top: 50px;
}
.intro{
  display:inline;
  background: none;
}
.h11{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  padding-top: 90px;
  padding-right: 150px;
}

.div5{grid-area: e;
  height: 200px;
  text-align: center;
  background-color: black;
  color: aquamarine;
  border: .5px solid rgb(48, 42, 143);
  box-shadow:5px 5px 5px white ;
  border-radius: 10%;
}
.div5>h1{
  color: aqua;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.div5>span{
  visibility: hidden;
  color: aliceblue;
  z-index: 2;
}

.div6{grid-area: f;
  background-color: rgb(0, 2, 2);
  color:aqua;
  text-align: center;
  border: .5px solid rgb(48, 42, 143);
  box-shadow:5px 5px 5px white ;
  border-radius: 10%;

}
.div6>p{
  color: rgb(165, 165, 214);
  text-align: justify;
  padding-left: 60px;
}
.div7{grid-area: g;
  background-color: black;
  color: beige;
  padding-left: 40px;
  box-shadow:5px 5px 5px white ;
  border-radius: 10%;
}
.div7>h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aqua;
  text-align: center;
}
.div7>form{
}
.div8{grid-area: h;}
.div9{grid-area: i;}
.div10{grid-area: j;}
.div11{grid-area: k;}
.div12{grid-area: l;}
.div13{grid-area: m;}
.div14{grid-area: n;
     background-color: black;
     text-align: center;
     color: aquamarine;
}
.fotimg{ 
  height: 100px;
  width: 100px;
  border-radius: 50%;
}


.container{
  display: grid;
  grid-template-areas: 
   'a a a b'
   'c c c d'
   'e f g g '
   'h i j 0'
   'h k k l'
   ' m m m m '
    'n n n n '
  ;
  grid-gap:10px;
  background-color: black;
}

div{
  background-color: aliceblue;
  box-sizing: border-box;
}

